{
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false
    }
  },
  "env": {
    "targets": {
      "chrome": "100",
      "firefox": "100",
      "safari": "15",
      "edge": "100"
    }
  },
  "module": {
    "type": "es6"
  }
}
